<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- First Name Column -->
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef>First Name</th>
    <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
  </ng-container>

  <!-- Last Column -->
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef>Last Name</th>
    <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
  </ng-container>

  <!-- age Column -->
  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef>Age</th>
    <td mat-cell *matCellDef="let element">{{ element.age }}</td>
  </ng-container>

  <!-- hireDate Column  -->
  <ng-container matColumnDef="hireDate">
    <th mat-header-cell *matHeaderCellDef>Hire Date</th>
    <td mat-cell *matCellDef="let element">{{ element.hireDate }}</td>
  </ng-container>

  <!-- Department Column  -->
  <ng-container matColumnDef="department">
    <th mat-header-cell *matHeaderCellDef>Department</th>
    <td mat-cell *matCellDef="let element">{{ element.department }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<button mat-raised-button color="primary" (click)="todaysEmployee()">
  Today's Hired Employee
</button>

<br />
<h1>Search By Particular Date</h1>

<form
  class="example-form"
  #formdata="ngForm"
  (ngSubmit)="onParticularDate(formdata)"
  novalidate
>
  <mat-form-field class="example-full-width">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" name="hireDate" ngModel />
    <mat-datepicker-toggle matSuffix [for]="picker">
      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <button mat-raised-button color="primary">Submit</button>
</form>

<br /><br />
<h1>Search Employee Who are hired Between two Date</h1>

<form
  class="example-form"
  #formdata1="ngForm"
  (ngSubmit)="onBetweenDate(formdata1)"
  novalidate
>
  <mat-form-field color="accent">
    <mat-label>Choose First Date</mat-label>
    <input matInput [matDatepicker]="picker1" name="hireDate1" ngModel />
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

  <br />

  <mat-form-field color="accent">
    <mat-label>Choose Second Date</mat-label>
    <input matInput [matDatepicker]="picker2" name="hireDate2" ngModel />
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2 color="primary"></mat-datepicker>
  </mat-form-field>

  <button mat-raised-button color="primary">Submit</button>
</form>

<h1>Employee who Joined before particular Date</h1>
<form
  class="example-form"
  #formdata2="ngForm"
  (ngSubmit)="onBeforeGivenDate(formdata2)"
  novalidate
>
  <mat-form-field color="accent">
    <mat-label>Choose a Date</mat-label>
    <input matInput [matDatepicker]="picker3" name="hireDate3" ngModel />
    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
    <mat-datepicker #picker3 color="primary"></mat-datepicker>
  </mat-form-field>
  <button mat-raised-button color="primary">Submit</button>
</form>

<h1>Employee who Joined after particular Date</h1>
<form
  class="example-form"
  #formdata3="ngForm"
  (ngSubmit)="onAfterGivenDate(formdata3)"
  novalidate
>
  <mat-form-field color="accent">
    <mat-label>Choose a Date</mat-label>
    <input matInput [matDatepicker]="picker4" name="hireDate4" ngModel />
    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
    <mat-datepicker #picker4 color="primary"></mat-datepicker>
  </mat-form-field>
  <button mat-raised-button color="primary">Submit</button>
</form>
