<!-- <h1>Choose your Prefered Date</h1>
<form [FormGroup]="hireDateDetails" (ngSubmit)="onSubmit()">
  <mat-form-field color="accent">
    <mat-label>Choose a Date</mat-label>
    <input
      matInput
      [matDatepicker]="picker3"
      name="hireDate"
      formControlName="hireDate"
    />
    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
    <mat-datepicker #picker3 color="primary"></mat-datepicker>
  </mat-form-field>
  <button mat-raised-button color="primary">Submit</button>
</form> -->
